/* font-family: "Work Sans", sans-serif; */
* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
}

h1,
h2 {
    font-family: "Volkhov", sans-serif;
}

p {
    font-family: "Poppins", sans-serif;
}

/* font-family: "Poppins", sans-serif; */

/* Nav style */


/* share colour start */
.color-primary {
    color: #FD6E0A;
}

.secondary-bg {
    background-color: #fff8f3;
}

.dark-2 {
    color: #474747;
}

.dark-3 {
    color: #757575;
}

.btn {
    background-color: #f1a501;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 20px 30px;
    border-radius: 10px;
    border: none;
}

.btn-white {

    color: black;
    font-weight: bold;
    font-size: 20px;
    padding: 16px 30px;
    border-radius: 10px;
    border: none;
    margin-left: 30px;
    background-color: white;
}

.btn-white i {
    background-color: #df6951;
    padding: 20px 14px 10px 18px;
    color: white;
    border-radius: 50px;
    margin-right: 20px;
    height: 30px;
    width: 30px;
    text-align: center;
}

/* share colour end */
.headder-img {
    background-image: url(../assets/Decore.png);
    background-repeat: no-repeat;
    background-position: top right;
    margin-bottom: 97px;
}

.image-banner-image img {
    height: 700px;
    width: auto;
}

.nab-bar {
    display: flex;
    font-family: "Open Sans", sans-serif;
    align-items: center;
    justify-content: space-between;
    padding: 20px 230px;
}

.nav-title {
    font-size: 45px;
    font-weight: bolder;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-left: 50px;
}

nav ul li a {
    text-decoration: none;
    font-size: 20px;
}

.banner {
    font-family: "Open Sans", sans-serif;
    display: flex;
    justify-content: space-between;
    margin: 0px 35px 0 230px;

}

.banner-content {
    width: 585px;
    margin-top: 100px;
}

.banner-content p {
    margin: 35px 0px;
}

.banner-greeting {
    font-size: 20px;
    font-weight: bold;
    color: #DF6951;
}

.banner-title {
    font-size: 80px;
    font-weight: bold;
    margin-top: 20px;
}

.banner-image {
    width: 500px;
}

.image-banner-image {
    margin-bottom: -5px;
}

/* main Style  */
main {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.cate {
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    margin-bottom: 10PX;
    color: #5E6282;
}

.gory {
    font-size: 50px;
    font-weight: 700;
    line-height: 65px;
    text-transform: capitalize;
    margin-bottom: 68px;
}

.cards {
    font-family: "Open Sans", sans-serif;
    margin-bottom: 123px;
}

.card {
    width: 267px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 36px;
    padding: 0px 0px;
}

.card img {
    padding: 42px 0px 0px 0px;
    width: auto;
    height: 60px;
    text-align: center;
}

.card h3 {
    padding: 30px 0px 15px 0px;
}

.card p {
    padding: 20px 33px 30px 33px;
    line-height: 28px;
}

.card-post {
    display: flex;
    margin: 0px auto 130px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.destination {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.Selling {
    width: 300px;

}

.contract {
    display: flex;
    font-family: "Open Sans", sans-serif;
    padding: 0px auto;
}

.booking {
    text-align: left;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.trip-booking {
    margin-right: 50px;
    padding-left: 100px;
}

.easy {
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    color: #5E6282;
}

.trip-booking h1 {
    font-size: 50px;
    font-weight: 700;
    line-height: 65px;
    text-transform: capitalize;
    color: #14183E;
    margin-bottom: 31px;
    width: 511px;
}

.trip-headding-all {
    display: flex;
    color: #5E6282;
    margin-bottom: 48px;
    width: 395px;
}

.trip-headding-image {
    margin-right: 12px;
}

.trip-headding {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
    line-height: 124.5%;
}

.trip-descript {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 124.5%;
}

.trip-image {
    width: 485px;
    margin-top: 30px;
}

.testimonials {
    display: flex;
    margin: 0 auto;
}

.testimoni-text {
    text-align: left;
}

.testimoni-text p {
    color: #5E6282;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    text-transform: uppercase;
}

.testimoni-text h1 {
    font-family: Volkhov;
    font-size: 50px;
    font-weight: 700;
    line-height: 65px;
    text-transform: capitalize;
}

.testimonials-image {
    width: 669px;
    text-align: right;
}

.slide-logo {
    width: 1280px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 111px;
}

.last-section {
    padding: 90px 140px 0px;
}

.contract {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.logo-text {
    width: 207px;

}

.logo-text p {
    color: rgb(94, 98, 130);
    font-family: Poppins;
    font-size: 13px;
    font-weight: 500;
    line-height: 124.5%;
    margin-top: 20px;
}

.logo-list-item {
    display: flex;
    width: 600px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.logo-list-item ul {}

.company-list {
    color: #080809;
    font-family: Poppins;
    font-size: 21px;
    font-weight: 700;
    line-height: 124.5%;
    text-align: left;
    margin-bottom: 32px;
}

.logo-list-item ul li {
    list-style: none;
    margin-bottom: 15px;
}

.logo-list-item ul li a {
    text-decoration: none;
    color: #5E6282;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 124.5%;
    text-align: left;
}

.copy-right {
    text-align: center;
    margin-top: 60px;
    color: rgb(94, 98, 130);
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 124.5%;
}

.icon-all {
    margin-bottom: 10PX;
}

.icon-all ul {
    display: flex;

}

.icon-all ul li {
    list-style: none;
    margin-right: 30px;
}

.icon-all ul li a {
    text-decoration: none;

}

.icon-all ul li a i {
    padding: 15px 15px 15px 15px;
    font-size: 20px;
    color: black;
    text-align: center;
    height: 20px;
    width: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 50PX;


}